<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-csp ng-app="respekt">
  <head>
    <title>Getting Started Extension's Popup</title>
    <style>
      body {
        width:480px
      }
    </style>

    <!--script src="jquery-2.1.4.min.js"></script-->
    <script src="angular.min.js"></script>
    <script src="respekt.js"></script>
  </head>
  <body ng-controller="issueCtrl">
    <a href="#" ng-click="prevIssue()"><<<</a>
    <h1>Respekt {{currentIssueDate.week}}/{{currentIssueDate.year}}</h1>
    <ul>
      <li ng-repeat="category in issue.categories">
        {{category}}

        <ul>
          <li ng-repeat="item in issue.items[category]">
            <a href="#" ng-click="openUrl(item.url)"> <!--{{item.url}}-->
              <span>{{item.title}}</span>
              <span>{{item.author}}</span>
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </body>
</html>

